@import '@/common/style/index.scss';

.tri-dropdown {
  position: absolute;
  border-radius: $border-radius;
  background: $color-white;
  border: 1px solid $border-color;
  overflow: auto;
  z-index: 99;
  box-shadow: 0 0 0px 2px $grey-50;

  .empty-tip {
    padding: 25px 0;
    text-align: center;
    font-size: 30px;
    color: $grey-800;

    .text {
      margin: 0;
      padding: 0;
      font-size: 16px;
    }
  }
}