@import '@/common/style/index.scss';

@mixin btn-status($bgColor, $shawdowColor) {
  background: $bgColor;
  border-color: $bgColor;
  color: $color-white;

  &:active, &:focus {
    box-shadow: 0 0 0px 3px $shawdowColor;
  }
}


@keyframes rotateAll {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.tri-button {
  outline: none;
  border: none;
  font-size: $button-font-size;
  border-radius: $border-radius;
  border-width: $border-width;
  border-style: solid;
  border-color: $color-primary;
  color: $color-primary;
  background: $color-white;
  transition: all .2s linear;
  user-select: none;
  font-family: $font-family;
  
  &.normal {
    padding: $button-padding;
  }

  &.small {
    padding: $button-padding-sm;
  }

  &.large {
    padding: $button-padding-l;
  }

  &.primary {
    @include btn-status($color-primary, $brand-blue-100);
  }

  &.success {
    @include btn-status($color-success, $green-100);
  }

  &.error {
    @include btn-status($color-error, $red-100);
  }

  &.warning {
    @include btn-status($color-warning, $yellow-100);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active, &:focus {
    opacity: 1;
    box-shadow: 0 0 0px 2px $brand-blue-100;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.icon {
    padding: $button-icon-padding;
    border-radius: $button-icon-radius;

    &.small {
      padding: $button-icon-padding-sm;
      border-radius: $button-icon-radius-sm;
    }

    &.large {
      padding: $button-icon-padding-l;
      border-radius: $button-icon-radius-l;
    }
  }
}