.slide-down-enter-active, .slide-down-leave-active {
  transition: $transition;
  transform-origin: top center;
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: $transition;
  transform-origin: bottom center;
}

.slide-down-enter, .slide-down-leave-to {
  margin-top: 0;
  opacity: 0;
  transform: scaleY(0);
}

.slide-down-enter-to, .slide-down-leave {
  margin-top: 5px;
  opacity: 1;
  transform: scaleY(1);
}

.slide-up-enter, .slide-up-leave-to {
  bottom: 100%;
  margin-bottom: 0;
  opacity: 0;
  transform: scaleY(0);
}

.slide-up-enter-to, .slide-up-leave {
  bottom: 100%;
  margin-bottom: 5px;
  opacity: 1;
  transform: scaleY(1);
}