@import '@/common/style/index.scss';

.tri-select {
  position: relative;
  display: inline-block;
  width: $select-width;
  @include control-border($border-color);
  text-align: left;
  transition: $transition;

  .tri-select-wrapper:hover {
    cursor: pointer;
  }


  &.focus {
    @include control-border($color-primary);
    box-shadow: 0 0 0px 2px $blue-200;
  }

  &.disabled {
    background: $grey-100;
    cursor: not-allowed;

    .tri-select-input:hover {
      cursor: not-allowed;
    }
  }

  .tri-select-input {
    outline: none;
    font-size: $font-size;
    padding: $input-padding;
    border: none;
    border-radius: $border-radius;

    &:read-only {
      cursor: pointer;
    }
  }

  .tri-select-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 28px;
    transition: $transition;
    color: $grey-800;

    &.reverse {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .slide-down {
    margin-top: 5px;
  }

  .slide-up {
    bottom: 100%;
    margin-bottom: 5px;
  }

  .tri-select-multiple {
    padding: 2px;
    padding-right: 30px;
  }
}